.gen-filter-posts-header {
    height: 225px;
    padding: 60px 120px;
    position: relative;
    z-index: 2;
    .gen-filter-posts-hide {
        display: none;
    }
    
    .gen-filter-posts-header-container {
        width: (100%/3);
        display: inline-block;
        margin-right: -4px;
        position: relative;
        height: 100%;
        vertical-align: top;
        z-index: 2;
    }

    h3 {
        font-size: 30px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 17px;
    }
    .gen-filter-choose-category {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        cursor: pointer;
        border: 1px solid #f8ea47;
        border-radius: 0;
        display: inline-block;
        background-color: transparent;
        box-shadow: none;
        min-width: 90px;
        transition: .2s all ease-in-out;
        padding: 8px;
        z-index: 2;
        &.active {
            background-color: #f8ea47;
            color: #0d2e5a;
            text-decoration: none;
            &:after {
                color: #0d2e5a;
                content: '\f00c';
                font-family: fontAwesome;
                margin-left: 11px;
                text-decoration: none;
            }
        }
        &:hover {
            background-color: #f8ea47;
            border: 1px solid #f8ea47;
            color: #0d2e5a;
            text-decoration: none;
        }
        
        &:last-child {
            margin-left: 10px;
        }
    }
    .gen-filter-posts-date-range-container {
        width: (100%/3)* 2;
        display: inline-block;
        margin-right: -4px;
        position: relative;
        height: 100%;
        vertical-align: top;
        z-index: 2;
        
        #double-label-slider.ui-slider {
            margin-top: 24px;
            background-color: #f8ea47;
            width: 60%;
            height: 2px;
            border: none;
            border-radius: 0; 
            position: relative;
        }

        #double-label-slider.ui-slider .ui-slider-handle {
            background-color: #0d2e5a;
            border: 2px solid #fff;
            width: 22px;
            height: 22px;
            margin-left: -9px;
            border-radius: 100%;
            position: absolute;
            z-index: 1337;
            top: -10px;
        }

        #double-label-slider.ui-slider .ui-slider-pip {
            top: -3px;
            line-height: 1.4;
        }

        #double-label-slider.ui-slider .ui-slider-pip .ui-slider-line {
            background-color: #f8ea47;
            width: 8px;
            height: 8px;
            top: 0;
            margin-left: -4px;
            border-radius: 100%;
            transition: all 0.4s ease; 
        }

        #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label,
        #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
            width: 100px;
            margin-left: -50px;
            text-align: center; 
        }

        #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label {
            font-weight: normal;
        }

        #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
            color: #fff;
            text-transform: uppercase;
            font-size: 14px;
            position: absolute;
            top: 18px;
        }

        @media screen and (max-width: 500px) {
            #double-label-slider.ui-slider .ui-slider-pip .ui-slider-label span {
              font-size: 1.1em; 
            } 
        }
        
        #double-label-slider.ui-slider .ui-slider-pip.ui-slider-pip-selected .ui-slider-label span {
            color: #f8ea47!important;
        }
       
        .gen-clear-filter {
            position: absolute;
            right: 0;
            display: block;
            cursor: pointer;
            top: 57px;
            text-transform:  uppercase;
            color: #fff;
            width: auto;
            text-align: right;
            visibility: visible;
            opacity: 1;
            transition: .2s all ease-in-out;
            &.gen-visibility-hidden {
                visibility: hidden;
                opacity: 0;
                
            }
        }

        .gen-clear-filter:before {
            content: '';
            background-color: #fff;
            height: 2px;
            width: 35px;
            display: block;
            position: absolute;
            transform: rotate(45deg);
            bottom: 11px;
            left: -35px;
        }

        span.gen-clear-filter:after {
            content: '';
            background-color: #fff;
            height: 2px;
            width: 35px;
            display: block;
            transform: rotate(-45deg);
            margin: 0 -30px;
            position: absolute;
            left: -5px;
            bottom: 11px;
        }
        
    
    }
}

.gen-filter-posts-footer {
    height: 150px;
    position: relative;
    .gen-filter-posts-footer-container {
       position: absolute;
       top: 50%;
       transform: translateY(-50%);
       left: 0;
       right: 0;
       text-align: center;
    }
    .gen-filter-posts-load-more {
        font-size: 16px;
        padding: 22px 0;
        border: 2px solid #f8ea47;
        color: #fff;
        display: block;
        max-width: 180px;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
        transition: .2s all ease-in-out;
        &.hidden {
            visibility: hidden;
        }
        &:hover {
            background-color: #f8ea47;
            border: 2px solid transparent;
            text-decoration: none;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .gen-filter-posts-header {
        height: 340px;
        padding: 40px 60px;
        
        h3{
            text-align: center;
        }
        .gen-filter-posts-header-container {
            width: 100%;
            display: block;
            margin: 0 auto;
            text-align: center;
            height: auto;
        }
        
        .gen-filter-posts-date-range-container {
            width: 100%;
            display: block;
            height: auto;
            margin-top: 40px;
            .gen-clear-filter {
                position: relative;
                display: block;
                cursor: pointer;
                top: 60px;
                text-transform: uppercase;
                color: #fff;
                width: 144px;
                margin: 0 auto;
            }
        }
        
        .gen-filter-posts-date-range-container #double-label-slider.ui-slider {
            width: 100%;
            display: block;
        }
    }
}

@media only screen and (max-width: 980px) { 
    .gen-filter-posts-header {
        padding: 0 50px;       
    }
    
}