/** REMOVE THIS STYLING BEFORE RELEASE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!**/
body .wrapper {
    background-color: #0d2e5a!important;
    padding: 0;
    margin: 0;
    width: 100%!important;
    padding: 0!important;
}

article {
    padding: 0!important;
}

.no-sidebar.content-width #main {
    width: 100%!important;
}

.entry-header {
    display: none;
}

/** REMOVE THIS STYLING BEFORE RELEASE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!**/

.gen-filter-grid-sizer {
    float: left;
    width: 16.66666666666667%;
    height: 0;
    padding-top: 16.66666666666667%;
    position: relative;
}
.gen-filter-posts-item {
    background-size: cover;
    background-repeat: no-repeat;
    width: 16.66666666666667%;
    height: 0;
    padding-top: 16.66666666666667%;
    
    h2 {
        position: absolute;
        top: 20px;
        color: #fff;
        margin: 0 auto;
        left: 0;
        right: 0;
        padding: 0 20px;
    }
    
    &:first-of-type {
        width: 33.33333333333333%;
        height: 0;
        padding-top: 33.33333333333333%;
    }
    
    .gen-filter-posts-title {
        visibility: hidden;
        font-size: 40px;
        color: #fff;
        transition: .2s all ease-in-out;
        opacity: 0;
        position: absolute;
        bottom: 0;
    }
    &:hover {
        .gen-filter-posts-title {
            visibility: visible;
            transition: .2s all ease-in-out;
            opacity: 1;
        }
    }
    &.gen-filter-no-posts-found {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .gen-filter-posts-grid {
        .gen-filter-grid-sizer {
            width: 20%;
            padding-top: 20%;
        }
        
        .gen-filter-posts-item {
            width: 20%;
            padding-top: 20%;
            &:first-of-type {
                width: 40%;
                height: 0;
                padding-top: 40%;
            }
            &.gen-filter-no-posts-found {
                width: 100%;
            }
        }
        
        
    }
   
}

@media only screen and (max-width: 980px) { 
    
    .gen-filter-posts-grid {
        .gen-filter-grid-sizer {
            width: 50%;
            padding-top: 50%;
        }
        
        .gen-filter-posts-item {
            width: 50%;
            padding-top: 50%;
            &:first-of-type {
                width: 50%;
                height: 0;
                padding-top: 50%;
            }
            &.gen-filter-no-posts-found {
                width: 100%;
                margin: 0 auto;
                text-align: center;
            }
        }
    }  
}

@media only screen and (max-width: 479px) { 
    .gen-filter-posts-grid {
        .gen-filter-grid-sizer {
            width: 100%;
            padding-top: 100%;
        }
        
        .gen-filter-posts-item {
            width: 100%;
            padding-top: 100%;
            &:first-of-type {
                width: 100%;
                height: 0;
                padding-top: 100%;
            }
        }
    } 
}